name: "Zorya CI"
run-name: "Zorya CI on ${{ github.ref_name }}"

on:
  workflow_dispatch:
  push:
    branches:
      - "feat**"
      - "fix**"
      - "hotfix**"
      - "chore**"
      - "main"
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/**"
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main]
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GO_VERSION: "1.25"
  LINTER_VERSION: "2.6.2"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: Run tests
        run: go test -v -race -failfast -coverpkg=./... -covermode=atomic -coverprofile=coverage.out ./...

      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.out
          flags: unit
          fail_ci_if_error: true
          verbose: true

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v${{ env.LINTER_VERSION }}
